html,body {
    color: #ccc;
    margin:0;
    padding:0;
    background: #ccc;
}

body {
    font: 100% raleway, verdana, hevetica, sans-serif;
    text-align:center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    margin:0 10px 10px;
}

a {
    color: #ccc;
    text-decoration:none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#header {
    height: 90px;
    margin: 0;
    background: #333;
}

#header h1 {
    color: #c9c9c9;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

#header h3 {
    color: #c9c9c9;
    float: right;
    padding-right: 36px;
    margin-top: 65px;
}

#header a {
    color: #ccc;
    text-decoration: none;
}

#container {
    text-align:left;
    background: #000;
}

.content p {
    line-height:1.4;
}

#navigation {
    color: #fff;
    background:#000;
}

#footer {
    clear: both;
    width: 100%;
    background: #333;
    color: #ccc;
}

#footer p {
    margin:0;
    padding:5px 10px;
    text-align: right;
}

#container {
    width:50%;
    min-width: 412px;
    margin:0 auto;
}

.content {
    float:left;
    width:80%;
    min-height: 600px;
    border-right: 1px dotted #696969;
}

#navigation {
    float: right;
    width: 19%;
    padding-top: 30px;
}

#navigation ul {
    list-style-type: none;
}

#navigation a {
    display: block;
    color: #ccc;
    text-decoration: none;
}

#navigation a:hover {
	color: #fff;
}

.post h2 {
    color: #fff;
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid #696969;
    padding-bottom: 5px;
}

.post aside {
}

.post h3 {
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #696969;
    padding-left: 10px;
    padding-bottom: 1px;
}

.post {
    margin: 0 20px;
    font-weight: normal;
    color: #ccc;
}

/*
.post h3 {
    font-weight: normal;
}
*/

.post ul {
    list-style: none;
}

.post-footer {
    color: #ccc;
    font-style: italic;
    padding-left: 50%;
}
