<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div id="container">

	<div id="header">
	  <img src="/images/anaban.jpg" alt="anacra" style='height: 100%; width: 100%; object-fit: cover'> 
	  <!---
	  <h1><%= @config[:site_name] %></h1>
	  <h3><%= @config[:site_desc] %></h3>
	  -->
      </div>

      <div id="wrapper">
        <div class='content'>
          <%= yield %>
        </div>
      <div id="navigation">
        <h3></h3>
        <ul>
          <li>blah</li>
          <li>blah</li>
          <li>blah</li>
        </ul>
      </div>


      </div>

      <div id="footer">
           &copy; <%= @config[:site_name] %>
      </div>

    </div>
  </body>
</html>
